{
"branch": "master",
"plugins": [
  '@semantic-release/commit-analyzer', 
  '@semantic-release/release-notes-generator',
  '@semantic-release/git',
  ['@semantic-release/gitlab', {
    "gitlabUrl": "https://ccb-gitlab.cs.uni-saarland.de",
    "assets": "dist/fumi_tools_static_linux_x86_64.tar.gz"
    }
  ]
],
"tagFormat": "${version}"
}
